.main_div {
  display: flex;
  flex-direction: row;
}
.first_section {
  width: 50%;
  height: 100vh;
  /* background-color: green; */
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.first_section_small {
  width: 100%;
  height: 100vh;
  /* background-color: green; */
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.first_section::-webkit-scrollbar {
  width: 0em !important;
}

.first_section::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.first_section::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.heading_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heading_section p {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 53px;
}
.heading_section button {
  width: 95px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px 15px;
  border-radius: 5px;
  border: none;
  background: #afe5bb;
}
.edit_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 30px 0px 0px;
}
.highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px px 4px 6px;
  border-radius: 5px;
  border: 1px solid #cecece;
  background: var(--white, #fff);
  height: 27px;
  width: 27px;
}
.highlight img {
  width: 15px;
  height: 15px;
}
.text_edit {
  width: 35px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 3px 11px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #cecece;
  background: var(--pdfbg, #fffcfc);
}
.small_A {
  font-size: 12px;
  font-family: "IBM Plex Sans", sans;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}
.seperator {
  font-weight: 700;
  margin: 0;
}
.capital_A {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}
.summary_section {
  font-family: "IBM Plex Sans", sans;
  width: 85%;
  height: 120px;
  margin-left: 53px;
  margin-top: 5px;
  padding: 15px 13px 5px 18px;
  border-radius: 5px;
  background: var(--aibg-1, rgba(196, 248, 183, 0.3));
  /* background-color: red; */
  position: relative;
  z-index: 2;
}
.summary_heading {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}
.summary {
  font-weight: 400;
  line-height: 1.4;
  font-size: 14.5px;
  margin-bottom: 5px;
}
.summary_section button {
  position: absolute;
  right: 11px;
  bottom: 11px;
  width: 55px;
  height: 23px;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12 px;
  background: #afe5bb;
  border: none;
}
.pdf_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}
.pdf_icons {
 position: absolute;
 bottom: 50;
 z-index: 6;
}
.chalkboard_icon {
  /* height: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 20px;
  padding: 10px 6px;
  border: 1px solid #cecece;
  border-radius: 15px 15px 0px 0px;
}
.penswirl_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 6px;
  max-width: 20px;
  border: 1px solid #cecece;
  border-radius: 0px 0px 15px 15px;
}
.rectangle_icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
  max-width: 20px;
  border: 1px solid #cecece;
  border-radius: 15px 15px 15px 15px;
}
.rectangle_icon:hover{
  background-color: #AFE5BB;
  min-width: 90px;
  padding: 2px 3px;
}
.penswirl_icon:hover{
  background-color: #AFE5BB;
  min-width: 90px;
  padding: 2px 3px;

}
.chalkboard_icon:hover{
  background-color: #AFE5BB;
  min-width: 90px;
  padding: 2px 3px;
}
.pdf_img {
  /* background-color: black; */
  width: 90%;
}
.pdf_img img {
  width: 100%;
  height: 370px;
  margin-left: 13px;
  object-fit: cover;
  object-position: 100% 0%;
  margin-top: 20px;
  /* background-color: red; */
}
.second_section {
  width: 50%;
  height: 100vh;
  position: relative;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: red; */
}

.filters_box {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 50px;
  height: 27px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background: var(--pdfbg, #fffcfc);
  position: absolute;
  top: 15px;
  right: 10px;
}
.character_img img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
}
.second_section_text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  font-family: "IBM Plex Sans", sans;
  font-size: 17px;
  line-height: 1.7;
  /* background-color: red; */
  margin-top: -180px;
}
.second_section p {
  margin-top: 18px;
}
.fade_in_paragraph {
  opacity: 0;
  animation: fadeIn 10s ease-in-out forwards;
}

.fade_in_line {
  opacity: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.menu_item_custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Change this value as needed to control the width before truncation */
  font-family: IBM Plex Sans;
font-size: 14px !important;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 178.571% */
}
.inputAi{
  width: 488px; color: #ACACAC; font-size: 14px; font-family: IBM Plex Serif; font-weight: 400; line-height: 27px; word-wrap: break-word;
  z-index: 1;
  border: none;
}
.inputAi:hover {
  border:none; /* Replace this with the desired hover border color */
}

/* Change placeholder color on hover */
.custom-input:hover::placeholder {
  color: #ACACAC; /* Replace this with the desired hover placeholder color */
}
.dropDown{
  color: black; font-size: 14px; font-family: IBM Plex Serif; font-weight: 500; line-height: 27px; word-wrap: break-word
}
.dropDownIcon{
 color: black; font-size: 14px; font-family: Font Awesome 6 Pro; font-weight: 400; line-height: 27px; word-wrap: break-word;
 margin-right: 10px;
}

.dropdownItem{
  background-color: rgba(0, 0, 0, 0.03);
  color: #000;
font-family: IBM Plex Serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: start;
padding: 2PX 4PX;
}
.scrollView{
  z-index: 1;
  overflow: scroll;
  height: 70vh;
}
.scrollView::-webkit-scrollbar {
  width: 0em !important;
}

.scrollView::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.scrollView::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}
.childDiv{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mermaidData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dot{
  width: 20px;
  height: 20px;
  border-radius: 100px;
}